html {
    padding: 16px;
    color: #333;
    background-color: #eee;
    font: 16px sans-serif;
}
button, input, select {
    font-family: inherit;
    font-size: 80%;
}
h2 {
    margin: 1rem auto .5rem;
}
div {
    margin: .5rem auto 1rem;
}
label {
    display: block;
    margin: .1rem auto;
}
input, select, .frame {
    padding: .5em 1em;
    border: none;
    border-radius: .5em;
    color: #333;
    background-color: #fff;
}
.narrow {
    width: 3em;
}
.medium {
    width: 5em;
}
.wide {
    width: 8em;
}
button {
    padding: .5em 1em;
    color: #fff;
    background-color: #46f;
    border: none;
    border-radius: .5em;
}
button:hover {
    background-color: #88f;
}
button:disabled {
    background-color: #aaa;
}
button.ghost {
    color: #333;
    background-color: #ccc0;
    border: 1px solid #333;
}
button.ghost:hover {
    background-color: #fff;
}
.frame {
    display: inline-block;
    font-size: 80%
}
