html {
    color: #333;
    background-color: #eee;
    font: 16px sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.content {
    max-width: 40rem;
    margin: 0 auto;
    padding: .5rem 4rem;
    background-color: #fff;
}
button, input, select {
    font-family: inherit;
    font-size: 100%;
}
h2 {
    margin: 1rem auto .5rem;
}
div {
    margin: .5rem auto 1rem;
}
label {
    display: block;
}
label.for-input {
    margin: .2rem auto;
}
input, select, .frame {
    padding: .7rem;
    border: 1px solid #ccc;
    border-radius: .5em;
    color: #333;
    background-color: #fff;
}
.narrow {
    width: 3em;
}
.medium {
    width: 5em;
}
.wide {
    width: 8em;
}
button {
    padding: .7rem;
    color: #fff;
    background-color: #46f;
    border: none;
    border-radius: .5em;
}
button:hover {
    background-color: #88f;
}
button:disabled {
    background-color: #aaa;
}
button.ghost {
    color: #333;
    background-color: #ccc0;
    border: 1px solid #333;
}
button.ghost:hover {
    background-color: #eee;
}
input[type=checkbox] {
    display: none;
}
label.for-checkbox {
    padding-left: 1.5rem;
    position: relative;
    margin: .5rem 1.5rem .5rem auto;
    height: 1.5rem;
}
label.for-checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: .2em;
    left: 0;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc;
    border-radius: .2em;
    background-color: #fff;
}
input[type=checkbox]:checked + label.for-checkbox::after {
    content: "";
    display: block;
    position: absolute;
    top: -.1em;
    left: .3em;
    width: .5em;
    height: 1em;
    transform: rotate(40deg);
    border-bottom: 3px solid #46f;
    border-right: 3px solid #46f;
}
.frame {
    display: inline-block;
}
